body {
    background-color: #f5f5f5;
}


/*#region inner_banner*/

.inner_banner {
    width: 100%;
    background-image: url(https://www.teksystems.com:443/-/media/teksystems/images/banners/veterans-banner.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    color: #fff;
}

.inner_banner h2 {
    font-size: 3.2rem;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 3.5rem;
    letter-spacing: 1px;
}

.inner_banner p {
    font-size: 1.5rem;
    margin-top: 20px;
    text-transform: capitalize;
    word-spacing: 0px;
    line-height: 1.9rem;
}


/*#endregion*/

.title_about span {
    margin-bottom: 15px;
    color: var(--blue);
    font-size: 25px;
    display: block;
}

.title_about h2 {
    color: var(--default);
    font-size: 50px;
    display: block;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 55px;
    margin-bottom: 20px;
}


/*#region accordion*/

.custom_tab .section-nav {
    position: sticky;
    top: 70px;
    align-self: start;
    padding: 71px 0;
}

.custom_tab .section-nav ol {
    border-radius: 20px;
    padding: 0px 40px;
}

.section-nav a {
    text-decoration: none;
    display: inline-block;
    padding: 15px 0;
    color: var(--green);
    transition: all 50ms ease-in-out;
    font-size: 2rem;
    font-weight: bold;
    position: relative;
}

.section-nav a:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 3px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background: var(--default);
    -webkit-transition: all .125s ease-in-out;
    transition: all .125s ease-in-out;
}

.section-nav a:hover:after,
.section-nav li.active>a::after {
    width: 100%;
}

.section-nav a:hover,
.section-nav a:focus {
    color: var(--default);
}

.section-nav li.active>a {
    color: var(--default);
}

.custom_tab {
    display: grid;
    grid-template-columns: 1fr 15em;
    max-width: 100em;
    width: 90%;
    margin: 0 auto;
}

.custom_tab section {
    height: 100vh;
    padding-top: 150px;
}


/*#endregion*/