.about_first {
    padding-top: 95px;
    padding-bottom: 95px;
    flex-wrap: wrap-reverse;
}

.title_about {
    margin-top: 35px;
}

.title_about span {
    margin-bottom: 15px;
    color: var(--blue);
    font-size: 23px;
    display: block;
}

.title_about h2 {
    color: var(--default);
    font-size: 37px;
    display: block;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 40px;
    margin-bottom: 20px;
}

.about_first p {
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 20px;
    line-height: 27px;
    font-weight: 300;
}

.images_wrapper {
    position: relative;
    height: 100%;
    text-align: center;
}

.about_first .images_wrapper img:last-of-type {
    position: absolute;
    bottom: -20%;
    left: 61%;
}

.about_second {
    padding-top: 60px;
    padding-bottom: 95px;
    flex-wrap: wrap-reverse;
}

.about_second p {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 27px;
    font-weight: 300;
    margin-top: 30px;
}


/* .about_second .images_wrapper img {
    position: absolute;
    right: 0;
} */

.about_second .images_wrapper img:last-of-type {
    position: absolute;
    bottom: -40px;
    left: -15px;
}

.btn_service_small {
    display: block;
    padding: 15px 6px 12px;
    font-size: 16px;
    border-radius: 0px;
    width: 160px;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    margin: auto;
}


/*#endregion*/

.row_boxes {
    position: relative;
    margin-top: 77px;
    padding-bottom: 50px;
    padding-top: 200px;
}


/*#region TalentHut_box*/

.TalentHut_box_a {
    display: block;
    width: 100%;
    height: 100%;
}

.TalentHut_box {
    font-size: 1em;
    line-height: 1em;
    background-color: #eee;
    border-color: #eee;
    padding: 70px 20px 30px;
    border-radius: 16px;
    height: 100%;
    position: relative;
}

.TalentHut_box img {
    position: absolute;
    top: -124px;
    left: 20px;
}

.TalentHut_box .caption {
    padding-bottom: 40px;
}

.TalentHut_box .caption h2 {
    font-size: 2rem;
    color: #333;
    font-weight: 700;
    margin-bottom: 16px;
    line-height: 36px;
}

.TalentHut_box .caption p {
    margin-bottom: 70px;
    font-size: 1.2rem;
    line-height: 26px;
    font-weight: 300;
    color: #333;
}

.TalentHut_box .caption span {
    float: right;
}

.TalentHut_box_a:hover .btn-primary {
    /* background: var(--dark-blue); */
    color: #fff;
}

.TalentHut_box_a:hover .btn-primary:before,
.TalentHut_box_a:hover .btn-primary:after {
    width: calc(100% + 2px);
    height: calc(100% + 2px)
}

.TalentHut_box_a:hover .btn-primary:before {
    border-top-color: var(--dark-blue);
    border-right-color: var(--dark-blue);
    -webkit-transition: width .125s ease-out, height .125s ease-out .125s;
    transition: width .125s ease-out, height .125s ease-out .125s
}

.TalentHut_box_a:hover .btn-primary:after {
    border-bottom-color: var(--dark-blue);
    border-left-color: var(--dark-blue);
    -webkit-transition: border-color 0s ease-out .25s, width .125s ease-out .25s, height .125s ease-out .3s;
    transition: border-color 0s ease-out .25s, width .125s ease-out .25s, height .125s ease-out .3s
}

.TalentHut_box_a:hover img {
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.TalentHut_box_a:active .btn_service_small,
.TalentHut_box_a.active .btn_service_small,
.TalentHut_box_a:focus .btn_service_small,
.TalentHut_box_a.focus .btn_service_small {
    color: #fff;
    background-color: var(--dark-blue);
}


/*#endregion*/


/*#region TalentHut_box_caption*/

.TalentHut_box_caption {
    background-image: url(../../../assets/images/callout-pattern.png);
    background-repeat: no-repeat;
    width: 100%;
    background-position: 111%;
    position: relative;
}

.TalentHut_box_caption .footer_hiring_content p {
    font-size: 24px;
    line-height: 33px;
}

.footer_hiring_content {
    margin: 50px 0 80px;
}

.TalentHut_box_caption:before,
.row_boxes:before {
    content: "";
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 80px;
    left: 0;
    top: 0;
    z-index: 4;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .05) 0%, rgba(0, 0, 0, .05) 6px, rgba(255, 255, 255, 0) 25px);
}


/*#endregion*/