:root {
    /* --default: #515253; */
    --default: #021a32;
    --green: #4ab048;
    --blue: #007db3;
    --light-blue: #2490cf;
    --dark-blue: #005295;
    --dark-orange: #ECB42D;
    --light-orange: #FCD057;
}

.default {
    background-color: #021a32;
}

.green {
    background-color: #46B249;
}

.light_blue {
    background-color: #2491D0;
}

.dark_blue {
    background-color: #035297;
}

.dark_orange {
    background-color: #ECB42D;
}

.light_orange {
    background-color: #FCD057;
}

.text_default {
    color: #021a32;
}

.text_green {
    color: #46B249;
}

.text_light_blue {
    color: #2491D0;
}

.text_dark_blue {
    color: #035297;
}

.text_dark_orange {
    color: #ECB42D;
}

.text_light_orange {
    color: #FCD057;
}


/*#region reset*/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*#endregion reset*/

*:focus {
    outline: none !important;
    box-shadow: unset !important;
}


/*#region form*/

.custom_input {
    display: block;
    width: 100%;
    padding: 0.72rem 0.75rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #455065;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.upper_case {
    text-transform: uppercase;
}

.checkbox label {
    cursor: pointer;
}

.checkbox input {
    margin-right: 8px;
}


/*#endregion*/

body,
html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Roboto Condensed', sans-serif; */
    font-size: 16px;
    line-height: 1;
    color: #171717;
    background-color: #fff;
    position: relative;
    overflow-x: hidden;
}

.text-right {
    text-align: right
}

a {
    text-decoration: none
}


/*#region btn-primary */

.btn-primary {
    position: relative;
    background: #fff;
    color: var(--dark-blue);
    transition: 0.3s;
    border: 3px solid var(--dark-blue);
}

.btn-primary:hover {
    background: var(--dark-blue);
    color: #fff;
    border-color: var(--dark-blue);
}

.btn-primary:active,
.btn-primary.active,
.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: var(--dark-blue);
}


/*#endregion */


/*#region menu*/

.menu ul {
    display: flex;
    justify-content: end;
    height: 100%;
}

.menu li {
    display: inline;
    height: 100%;
}

.menu li a {
    display: inline-flex;
    align-items: center;
    color: var(--dark-blue);
    padding: 21px 12px;
    font-size: 15px;
    position: relative;
    height: 100%;
    font-weight: 500
}

.menu li a:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0px;
    background: transparent;
    height: 3px;
    transform: translateX(-50%);
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    width: 0;
}

.menu li a:hover:after,
.menu li a.active:after {
    width: 100%;
    background: var(--green);
}

.login_wrapp {
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: center;
}

.login_link span {
    display: block;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--dark-blue)
}

.login_link img {
    margin-bottom: 3px;
}

.top_menu {
    border-bottom: 1px solid #bbb;
    padding: 0px 0;
    height: 63px;
}

.logo {
    /* width: 140px; */
    padding: 10px 0;
    display: flex;
    align-items: center;
    height: 100%;
}

.logo img {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

@media screen and (max-width:1200px) {
    .logo {
        width: 150px;
    }
    .top_menu {
        height: 62px;
    }
}


/*#endregion*/


/*#region menu responsive*/

.hamburger_menu,
#sidebar-wrapper {
    display: none
}

#page-content-wrapper {
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 999
}

@media screen and (max-width:1200px) {
    .menu {
        display: none
    }
    #sidebar-wrapper {
        display: block;
    }
    .hamburger_menu {
        display: block;
        position: relative;
    }
    .hamburger_menu::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        height: 100%;
        width: 1px;
        background: #bbb;
        left: 0px;
    }
    .top_menu .container {
        width: 100%;
        max-width: 100%;
    }
    .top_menu {
        height: 62px;
    }
    /*-------------------------------*/
    /*           Wrappers            */
    /*-------------------------------*/
    #wrapper {
        padding-right: 0;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }
    #wrapper.toggled {
        padding-right: 220px;
    }
    #sidebar-wrapper {
        z-index: 1000;
        right: 220px;
        width: 0;
        height: 100%;
        margin-right: -220px;
        overflow-y: auto;
        overflow-x: hidden;
        background: #1a1a1a;
        -webkit-transition: all 0.4s ease-out;
        -moz-transition: all 0.4s ease-out;
        -o-transition: all 0.4s ease-out;
        transition: all 0.4s ease-out;
    }
    #sidebar-wrapper::-webkit-scrollbar {
        display: none;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 220px;
    }
    #page-content-wrapper {
        width: 100%;
    }
    #wrapper.toggled #page-content-wrapper {
        position: absolute;
        margin-left: -220px;
        transition: all 0.4s ease-out;
    }
    /*-------------------------------*/
    /*     Sidebar nav styles        */
    /*-------------------------------*/
    .navbar {
        padding: 0;
    }
    .sidebar-nav {
        position: absolute;
        top: 0;
        width: 220px;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .sidebar-nav li {
        position: relative;
        line-height: 20px;
        display: inline-block;
        width: 100%;
    }
    .sidebar-nav li a {
        display: block;
        color: #ddd;
        text-decoration: none;
        padding: 10px 15px 10px 30px;
    }
    .sidebar-nav li a:hover,
    .sidebar-nav li a:active,
    .sidebar-nav li a:focus,
    .sidebar-nav li.open a:hover,
    .sidebar-nav li.open a:active,
    .sidebar-nav li.open a:focus {
        color: #fff;
        text-decoration: none;
        background-color: transparent;
    }
    /*-------------------------------*/
    /*       Hamburger-Cross         */
    /*-------------------------------*/
    .hamburger {
        position: absolute;
        top: 15px;
        z-index: 999;
        display: block;
        width: 32px;
        height: 32px;
        background: transparent;
        border: none;
        left: 0;
        right: 0;
        margin: auto;
    }
    .hamburger:hover,
    .hamburger:focus,
    .hamburger:active {
        outline: none;
    }
    .hamburger.is-closed:before {
        content: '';
        display: block;
        width: 100px;
        font-size: 14px;
        color: #fff;
        line-height: 32px;
        text-align: center;
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        -webkit-transition: all .35s ease-in-out;
    }
    .hamburger.is-closed:hover:before {
        opacity: 1;
        display: block;
        -webkit-transform: translate3d(-100px, 0, 0);
        -webkit-transition: all .35s ease-in-out;
    }
    .hamburger.is-closed .hamb-top,
    .hamburger.is-closed .hamb-middle,
    .hamburger.is-closed .hamb-bottom,
    .hamburger.is-open .hamb-top,
    .hamburger.is-open .hamb-middle,
    .hamburger.is-open .hamb-bottom {
        position: absolute;
        right: 0;
        height: 4px;
        width: 100%;
    }
    .hamburger.is-closed .hamb-top,
    .hamburger.is-closed .hamb-middle,
    .hamburger.is-closed .hamb-bottom {
        background-color: #1a1a1a;
    }
    .hamburger.is-closed .hamb-top {
        top: 5px;
        -webkit-transition: all .35s ease-in-out;
    }
    .hamburger.is-closed .hamb-middle {
        top: 50%;
        margin-top: -2px;
    }
    .hamburger.is-closed .hamb-bottom {
        bottom: 5px;
        -webkit-transition: all .35s ease-in-out;
    }
    .hamburger.is-closed:hover .hamb-top {
        top: 0;
        -webkit-transition: all .35s ease-in-out;
    }
    .hamburger.is-closed:hover .hamb-bottom {
        bottom: 0;
        -webkit-transition: all .35s ease-in-out;
    }
    .hamburger.is-open .hamb-top,
    .hamburger.is-open .hamb-middle,
    .hamburger.is-open .hamb-bottom {
        background-color: #1a1a1a;
    }
    .hamburger.is-open .hamb-top,
    .hamburger.is-open .hamb-bottom {
        top: 50%;
        margin-top: -2px;
    }
    .hamburger.is-open .hamb-top {
        -webkit-transform: rotate(45deg);
        -webkit-transition: -webkit-transform .35s cubic-bezier(.73, 1, .28, .08);
    }
    .hamburger.is-open .hamb-middle {
        display: none;
    }
    .hamburger.is-open .hamb-bottom {
        -webkit-transform: rotate(-45deg);
        -webkit-transition: -webkit-transform .35s cubic-bezier(.73, 1, .28, .08);
    }
    .hamburger.is-open:before {
        content: '';
        display: block;
        width: 100px;
        font-size: 14px;
        color: #fff;
        line-height: 32px;
        text-align: center;
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        -webkit-transition: all .35s ease-in-out;
    }
    .hamburger.is-open:hover:before {
        opacity: 1;
        display: block;
        -webkit-transform: translate3d(-100px, 0, 0);
        -webkit-transition: all .35s ease-in-out;
    }
    .fixed-top {
        right: 0;
        left: auto;
    }
    .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        display: none;
        transition: .35s ease-in-out;
    }
}


/*#endregion*/


/*#region banner*/

.banner {
    width: 100%;
    margin-bottom: 80px;
}

#video-viewport {
    overflow: hidden;
    width: 100%;
    height: calc(100% - 57px);
    object-fit: cover;
    position: absolute;
    top: 57px;
    z-index: -5;
}

.banner .banner_content {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    height: calc(100vh - 57px);
    align-content: center;
    justify-content: start;
    padding: 0px 60px;
}

.banner h1 {
    margin-bottom: 12px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    line-height: 47px;
    font-size: 46px;
    color: #ebedf1;
    text-shadow: 0 0 50px #021a32;
    text-align: left;
    letter-spacing: 0px;
    width: 580px;
}

.banner p {
    width: 100%;
    font-size: 24px;
    font-weight: lighter;
    color: #ebedf1;
    text-align: left;
    margin: 10px auto 0px;
}

.banner p.p_bottom {
    margin-bottom: 0;
    font-size: 1.8em
}

.hero-video:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 57px);
    top: 57px;
    z-index: -1;
    background: rgba(2, 26, 50, .5);
}

.btn_wrapper {
    display: flex;
    width: 100%;
    text-align: center;
    align-self: end;
    margin-top: 40px;
}

.btn_service {
    display: block;
    padding: 13px 40px;
    font-size: 18px;
    line-height: 1.33333;
    border-radius: 0px;
    width: 220px;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
    background: var(--dark-blue);
    color: #fff;
    border-color: var(--dark-blue);
    border: 0
}

.banner_content .btn_service {
    background: var(--dark-blue);
    color: #fff;
    border-color: var(--dark-blue);
    border: 0
}

.btn_service:after {
    content: '';
    background-color: rgba(255, 255, 255, .2);
    color: #fff;
    border-color: var(--dark-blue);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(0.7);
    opacity: 0;
    transition: 0.4s;
}

.btn_service:hover::after {
    transform: scale(1);
    opacity: 1;
    border-color: rgba(255, 255, 255, .2);
    background-color: rgba(255, 255, 255, .2);
}

@media screen and (max-width:1200px) {
    #video-viewport {
        overflow: hidden;
        width: 100%;
        height: calc(100% - 61px);
        object-fit: cover;
        position: absolute;
        top: 61px;
    }
    .hero-video:before {
        content: '';
        height: calc(100vh - 61px);
        top: 61px;
        z-index: -1;
    }
    .banner h1 {
        font-size: 0.3em;
    }
}


/*#endregion*/


/*#region tek-card*/

.tek-card {
    width: 100%;
    border: none;
    border-radius: 0%;
    margin: 10px 0;
    position: relative;
    overflow: hidden;
    min-height: 282px;
    transition: 0.5s;
    background-color: #f8f8f8;
    box-shadow: 0 2px 5px 0px rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
}

.teck_card_link {
    display: block;
    width: 100%;
    height: 100%;
}

.teck_card_link:hover .tek-card {
    background-color: var(--dark-blue);
}

.teck_card_link:hover .tek-card h2 {
    color: #fff;
}

.tek-card img:not(.tek_icon) {
    max-width: unset;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    z-index: -1;
    width: auto;
    min-height: 100%;
    left: 49%;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

.tek-card-text {
    width: 100%;
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.tek-card svg {
    fill: var(--dark-blue) !important
}

.tek-card-text .icon_wrapp {
    width: 83px;
    height: 83px;
    margin: 0 auto 35px
}

.tek-card-text .icon_wrapp img.tek_icon {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
}

.tek-card-text h2 {
    font-size: 1.1em;
    font-weight: 600;
    margin: 0;
    padding: 15px 60px 15px 20px;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
    padding: 0;
    margin: 0;
    text-align: center;
    white-space: nowrap;
    color: var(--dark-blue);
    width: 100%;
}

.tek-card:hover .tek-card-text h2 {
    -webkit-transform: translate(0, -15px);
    transform: translate(0, -15px);
}

.tek-card:hover img.tek_icon {
    -webkit-transform: translate(0, -15px) scale(1.25, 1.25);
    transform: translate(0, -15px) scale(1.25, 1.25);
}

.tek-card-btn-container {
    position: absolute;
    text-align: center;
    height: auto;
    left: 0;
    width: 100%;
    bottom: 20px;
}

.tek-card-btn {
    border: solid 1px;
    padding: 3px 13px;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
    outline: none;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 22px;
}

.tek-card-btn:hover {
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1.25, 1.25);
}

.tek-card .tek-expanded-cards .tek-card-text {
    padding-top: 200px
}

.tek-card:hover img:not(.tek_icon) {
    -webkit-transform: scale(1.25, 1.25) translate(-40%, 0%);
    transform: scale(1.25, 1.25) translate(-40%, 0%);
}


/*#endregion*/

.title h2 {
    font-size: 3em;
    text-align: left;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 50px;
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--dark-blue);
}

.title span {
    font-weight: 100;
    letter-spacing: 1px;
    color: #0095d3;
    text-align: left;
    margin-bottom: 10px;
    display: block;
    font-size: 1.5rem;
}


/*#region hiring*/

.hiring {
    padding: 50px 0;
    width: 100%;
    display: block;
    margin-top: 80px;
    margin-bottom: 30px;
    position: relative
}

.hiring:before,
.signup_section:before,
.professionals:before {
    content: "";
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 80px;
    left: 0;
    top: 0;
    z-index: 4;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .05) 0%, rgba(0, 0, 0, .05) 6px, rgba(255, 255, 255, 0) 25px);
}

.hiring_content {
    margin: auto;
    text-align: center
}

.hiring_content .btn_service {
    width: 160px;
    background: var(--dark-blue);
    color: #fff;
    border-color: var(--dark-blue);
}

h2.title {
    font-size: 3em;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 30px;
}

.hiring_content h2.title {
    font-size: 3.3em;
    color: var(--dark-blue);
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}

.hiring .hiring_content p {
    font-size: 19px;
    line-height: 32px;
}

.hiring .hiring_content p:last-of-type {
    font-size: 2.2em;
    font-weight: 600;
    line-height: 1.5em;
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--dark-blue);
    margin-top: 25px;
}


/*#endregion*/


/*#region signup_section*/

.signup_section {
    padding: 0;
    width: 100%;
    display: block;
    position: relative;
    /* background-image: url(../images/services/services-banner.jpg);
    background-size: 100%;
    background-repeat: no-repeat; */
}

.signup_section .shape_wrapper {
    position: relative;
    height: 350px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.signup_section .shape_wrapper:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 57px);
    top: 0;
    z-index: 0;
    background: rgba(2, 26, 50, .5);
}

.signup_section .shape_wrapper::before {
    content: "";
    position: absolute;
    background-image: url(../images/mask-white.png);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 102%;
    left: -169px;
    top: -2px;
    z-index: 2;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    transform: rotate(-180deg);
}

.signup_section .shape_wrapper img {
    width: auto;
    height: auto;
    max-width: 100%;
    /* max-height: 100%; */
    position: absolute;
    left: 0px;
}

.signup_section h2.title {
    font-size: 2.1em;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 30px;
}

.signup_section .btn_wrapper {
    margin-top: 0;
}


/*#endregion*/


/*#region professionals*/

.professionals {
    position: relative
}

.professionals .pro_item {
    background: #f8f8f8;
    border-right: 1px solid #d5d8dc;
    border-top: 1px solid #d5d8dc;
    padding: 0;
    text-align: center
}

.professionals .pro_item:first-child {
    border: 1px solid #d5d8dc;
    border-bottom: 0
}

.professionals .title {
    margin-top: 110px;
}

.professionals .pro_item a {
    height: 100%;
    /* min-height: 340px; */
    cursor: pointer;
    border: 1px solid transparent;
    display: block;
    padding: 30px 28px;
    position: relative;
    transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
}

.professionals .pro_item a:hover {
    background-color: var(--dark-blue);
}

.professionals .pro_item a:hover span,
.professionals .pro_item a:hover p {
    color: #fff;
}

.professionals .pro_item img {
    margin-bottom: 18px;
}

.professionals .pro_item .category_info {
    color: var(--dark-blue);
    margin: 0;
    font-size: 22px;
    text-transform: capitalize;
    font-weight: 900;
}

.professionals .pro_item .category_info span {
    margin: 0;
    color: #636363;
    font-size: 14px;
    line-height: 24px;
}

.professionals .add_border .pro_item {
    border-bottom: 1px solid #d5d8dc;
}


/*#endregion*/


/*#region footer_hiring*/

.footer_hiring {
    margin-top: 50px;
    background-color: var(--dark-blue);
    color: #fff;
    text-align: center
}

.footer_hiring_content {
    margin: 50px auto 80px;
}

.footer_hiring_content .btn_service {
    width: 40%;
    margin: auto;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
}

.footer_hiring_content .btn_service:hover {
    border: 2px solid var(--dark-blue);
    background: #fff;
    color: var(--dark-blue);
}

.footer_hiring h2 {
    font-size: 3em;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 25px;
}

.footer_hiring_content p {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}


/*#endregion*/


/*#region footer*/


/*#region footer*/

.footer_section {
    background: var(--default);
    padding: 110px 0 0 0;
    color: #fff;
    position: relative;
}

.footer_section .logo {
    color: #fff;
    font-size: 55px;
    font-weight: 600;
    letter-spacing: 3px;
    display: block;
    margin-bottom: 20px;
}

.footer_section a,
.footer_section h3 {
    color: #fff
}

.footer_about_us img {
    margin-bottom: 20px;
}

.footer_about_us p {
    margin-bottom: 20px;
    color: #fff;
    line-height: 25px;
}

.footer_quick_link {
    display: flex;
    align-items: center;
    flex-flow: column;
}

.footer_quick_link h3 {
    margin-bottom: 30px;
    font-size: 27px;
    font-weight: bold;
    color: #a4d7f4;
}

.footer_quick_link ul li {
    margin-bottom: 17px;
}

.footer_quick_link ul li a {
    display: inline-block;
    font-size: 16px;
    color: #fff;
    padding: 5px 0;
    position: relative
}

.footer_quick_link ul li a:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -3px;
    background: transparent;
    height: 2px;
    transform: translateX(-50%);
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    width: 0;
}

.footer_quick_link ul li a:hover:after {
    width: 100%;
    background: var(--blue);
}

.footer_quick_link ul li a:hover {
    color: var(--blue);
}

.footer_latest_update {
    padding: 0 8px;
}

.footer_latest_update h3 {
    margin-bottom: 30px;
    font-size: 27px;
    font-weight: bold;
    color: #a4d7f4;
}

.footer_contact h3 {
    margin-bottom: 30px;
    font-size: 27px;
    font-weight: bold;
    color: #a4d7f4;
}

.footer_latest_update .footer_latest_update_item {
    margin-bottom: 20px;
}

.footer_latest_update .footer_news_image {
    width: 70px;
    margin-right: 20px;
}

.footer_latest_update .footer_latest_update_item img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.footer_latest_update .footer_latest_update_content span {
    font-size: 12px;
    font-style: italic;
}

.footer_latest_update .footer_latest_update_content a {
    transition: 0.2s;
    margin-bottom: 16px;
    display: block;
    font-size: 15px;
    line-height: 18px;
}

.footer_latest_update .footer_latest_update_content a:hover {
    color: var(--blue)
}

.footer_latest_update_content p {
    margin-top: 10px;
}

.footer_bottom {
    background-color: #000;
    padding: 15px;
    color: #ccc;
    text-align: center;
}

.footer-social-links {
    /* text-align: center; */
    padding-top: 20px;
}

.footer-social-link {
    color: #f8f8f8;
    width: 21px;
    height: 21px;
    margin-right: 10px;
}

.footer-social-links li {
    display: inline-block
}

.footer_bottom a {
    margin: 0 10px;
    font-size: 13px;
    color: #ccc;
    position: relative;
}

.footer_bottom a:hover {
    color: var(--blue);
}

.footer_bottom p {
    font-size: 13px;
}

.footer_bottom a:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    background: transparent;
    height: 2px;
    transform: translateX(-50%);
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    width: 0;
}

.footer_bottom a:hover:after {
    width: 100%;
    background: var(--blue);
}


/*#endregion*/


/*#endregion*/


/*#region dropdoen in menu*/

.dropbtn {
    background-color: transparent;
    color: var(--dark-blue);
    border: none;
    padding: 21px 12px;
    font-size: 15px;
    font-weight: 500;
}

.dropdown {
    position: relative;
    display: inline-flex;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 63px;
}

.dropdown-content a {
    color: var(--dark-blue);
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    font-size: 15px;
    font-weight: 500;
}

.dropdown-content a:first-of-type {
    margin-top: 15px;
}

.dropdown-content a:last-of-type {
    margin-bottom: 15px;
}

.dropdown-content a:hover {
    color: var(--green);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover:after,
.dropdown.active:after {
    width: 100%;
    background: var(--green);
}

.dropdown:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0px;
    background: transparent;
    height: 3px;
    transform: translateX(-50%);
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    width: 0;
}

.submenu-active {
    color: var(--green) !important;
}

.text-justify{
    text-align:justify;
}

@media (min-width:1300px) {
    
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1240px
    }
}


/*#endregion*/